*{
    padding:0;
    margin:0;
    border:0;
}

 body{
    background-color: blanchedalmond;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top: 80px;
    right: 100px;
    left: 100px;
    bottom: 80px;
}

.container h2{
    font-size: 70px;
    line-height: 100px;
    margin-bottom: 50px;
}

.list{
    font-size: 50px;
    display: flex;
}

.list div{
    margin: 0 15px;
    position: relative;
    width: 150px;
    height: 100px;
    line-height:100px;
    text-align: center;
    background: #000;
    color: #fff;
}

.list div:before {
    content:'';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 150px;
    height: 50px;
    background: lightgreen;
    color: #000;
    font-size: 30px;
    line-height: 35px;
}

.btns{
    background-color:burlywood;
    font-size: 30px;
    margin:70px 10px 20px 0;
    padding:5px;
}

.list #work-timer:before{
    content: 'Work';
}
.list #break-timer:before{
    content: 'Break';
}
.list #counter:before{
    content: 'Cycle';
}

@media screen and (max-width: 430px){
    .container{
        display: flex;
        justify-content: space-between;
    }

    .container h2{
        text-align: center;
        font-size: 45px;
        line-height: 50px;
    }
    .list{
        display: flex;
        flex-direction: column;
        margin-top:50px;
    }
    .list div{
        margin-bottom:50px;
    }

    #btns-align{
        display:flex;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px){
    .container h2{
        text-align:center;
    }
}